sudo: required
services:
  - docker

before_install:
  - docker build -t newlukasz/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true newlukasz/docker-react npm run build

deploy:
  provider: elasticbeanstalk
  region: eu-central-1
  app: "docker-react"
  env: "Docker-react-env"
  bucket_name: "elasticbeanstalk-eu-central-1-617787991028"
  bucket_path: "docker-react"
  on:
    branch: master
